/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville.ttc');
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	padding-bottom: 5px;
	margin: 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	color: rgb(152,173,166);
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}

/* Write all remaining styles here */

.wrapper img {
  border: 5px solid rgb(152,173,166);
}

footer {
  text-align: right;
  font-size: .5em;
}